:root {
  /* Цвет основного текста */
  --main-text-color: #757575;
  /* Цвет текста навигаций */
  --color-text-nav: #212121;
  /* Цвет акцента */
  --color-accent: #2196f3;
  /* Цвет основого фона */
  --background-color-main: #e5e5e5;
  /* Цвет фона футера и раздела заказа */
  --background-color: #2f303a;
  /* Цвет фона кнопок */
  --background-buttons: #f5f4fa;
  /* цвет кнопок и адреса */
  --color-but-add: #fff;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
}
ul {
  list-style: none;
}

/* Header */

/* logo */
.logofull {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo {
  color: var(--color-accent);
}
.logo-black {
  color: #000;
}

.logo-white {
  color: var(--color-but-add);
}
/* Menu-nav */
.menu-nav .navlink {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-text-nav);
}

.menu-nav .navlink:hover,
.menu-nav .navlink:focus {
  color: var(--color-accent);
}

.contacts .contact,
.footer .contact {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text-color);
}

.contacts .contact:hover,
.contacts .contact:focus {
  color: var(--color-accent);
}

/* h1 {
  display: none;
} */

/* Buttons */
.buttons .button {
  font-family: Roboto;
  color: var(--color-text-nav);
  background-color: var(--background-buttons);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  width: 145px;
  height: 38px;
}
.buttons .button:hover,
.buttons .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--color-but-add);
  background-color: var(--color-accent);
}
/* Portfolio */
.images-portfolio .title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text-nav);
}
.images-portfolio .type-portfolio {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

/* Footer */
.footer {
  background-color: var(--background-color);
}
.footer .contact-address {
  font-style: normal;
  color: var(--color-but-add);
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.title-benefits {
  color: var(--color-text-nav);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.text-benefits {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.title-about-us {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-nav);
}
.title-our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-nav);
}

.our-team {
  background-color: var(--background-buttons);
}

.title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--color-text-nav);
}
.work-position {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
}

.for-user {
  background-color: var(--background-color);
}
.title-for-user {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-but-add);
}

.button-text {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.06em;
  background-color: var(--color-accent);
  color: var(--color-but-add);
  cursor: pointer;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.button-text:hover,
.button-text:focus {
  background-color: #188ce8;
}

.img-position {
  width: 270px;
  height: 368px;
  background-color: var(--color-but-add);
  border: none;
}
